<div class="time-picker-row">
  <div></div>
  <div ng-repeat="day in days" class="text-center">
    <span ng-if="$index === 0" class="today">Today</span>
    <span ng-if="$index > 0">{{ day.date }}</span>
    <br>
    {{ day.day }} 
  </div>
</div>
<div class="time-picker-row" ng-repeat="time in times">
  <div class="time-picker-time">{{ time }}</div>
  <div ng-repeat="day in days" class="text-center">
    <!-- NEW -->
    <label class="checkbox checkbox-stable" 
           ng-if="view === 'new'">
      <input type="checkbox" ng-model="availability[day.day + '|' + day.fullDate + '|' + time]">
    </label>

    <!-- VIEW -->
    <label class="checkbox checkbox-stable" 
           ng-if="view === 'view' && availability[day.day + '|' + day.fullDate + '|' + time] !== undefined"
           ng-click="onTimeSlotClick(day.day + '|' + day.fullDate + '|' + time)">
      <input type="checkbox" ng-model="availability[day.day + '|' + day.fullDate + '|' + time]">
    </label>
  </div>
</div>