<ion-view class="tab1" title="My Profile">
  <ion-content class="padding">
    <div class="list" ng-if="ready">
      <div class="item item-divider" ng-click="onMyInterestsClick()">
        My Interests
      </div>
      <div class="padding-top">
        <button class="button button-energized interest-button icon-right ion-ios7-close-empty"
                ng-repeat="interest in interests"
                ng-click="removeInterest(interest.id)">
          {{ interest.name }}
        </button>
        <div class="empty-profile-message" ng-if="interests.length === 0">
          Your profile is empty <i class="icon ion-sad"></i><br>
          Add interests by clicking the buttons below
        </div>
      </div>
      <div class="item item-divider suggested-interests">
        Interests Pool
      </div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="data.filter">
      </label>
      <div class="padding-top">
        <button class="button button-stable interest-button icon-left ion-plus"
                ng-repeat="matchingInterest in matchingInterests"
                ng-click="addInterest(matchingInterest.name)">
          {{ matchingInterest.name }} ({{ usersCount(matchingInterest) }})
        </button>
      </div>
      <div class="text-center add-interest" 
           ng-if="data.filter && matchingInterests.length === 0 && notInMyInterests(data.filter)">
        <button class="button button-balanced icon-left ion-plus"
                ng-click="addInterest()">
          {{ data.filter }}
        </button>
      </div>
      <div class="text-center"
           ng-if="data.filter && matchingInterests.length === 0 && !notInMyInterests(data.filter)">
        Already in your interests
      </div>
    </div>
  </ion-content>
</ion-view>