.tab1 {
  .empty-profile-message {
    padding-left: 15px;
  }
  .interest-button {
    margin-right: 10px;
    margin-bottom: 10px;

    &:before {
      line-height: 45px;
      margin-left: 5px;
      opacity: 0.5;
    }
  }
  .suggested-interests {
    margin-top: 50px;
  }
}
