/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #E60A7C !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "lib/ionic/fonts" !default;

// Include all of Ionic
@import "lib/ionic/scss/ionic";

.tabs {
  .tab-item.tab-item-active {
    color: $positive;
    border-color: $positive;
  }
}

// App specific styles
@import "login/login";
@import "tab1/tab1";
@import "tab2/tab2";
@import "tab3/tab3";
