<ion-nav-bar class="bar-energized"></ion-nav-bar>
<ion-view class="login" title="meet@seek">
  <ion-content>
    <div class="list">
      <div class="text-center logo">
        <img src="images/meet-at-seek.png" width="84" height="84">
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Your SEEK username" ng-model="user.username">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="{{ user.showPassword ? 'text' : 'password' }}"
               placeholder="Any password"
               ng-model="user.password">
      </label>
      <label class="toggle toggle-dark show-password-toggle" ng-if="user.password">
        <input type="checkbox" ng-model="user.showPassword">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
    <div class="text-center">
      <button class="button button-energized"
              ng-click="login()"
              ng-disabled="!user.username || !user.password">
        Let me in
      </button>
    </div>
  </ion-content>
</ion-view>