<ion-view class="tab1" title="My Profile">
  <ion-content class="padding">
    <div class="list" ng-if="ready">
      <div class="item item-divider my-interests">
        <span ng-click="onMyInterestsClick()">My Interests</span>
        <button class="button button-positive button-small find-seekers-button"
                ng-if="interests.length > 0"
                ng-click="findSeekers()">
          Find SEEKers
          <i class="icon ion-ios7-arrow-forward"></i>
        </button>
      </div>
      <ion-scroll class="padding-top my-interests-wrapper">
        <button class="button button-energized interest-button icon-right ion-ios7-close-empty"
                ng-repeat="interest in interests"
                ng-click="removeInterest(interest.id)">
          {{ interest.name }}
        </button>
        <div class="empty-profile-message" ng-if="interests.length === 0">
          Your profile is empty <i class="icon ion-sad"></i><br>
          Add interests by clicking the buttons below
        </div>
      </ion-scroll>
      <div class="item item-divider suggested-interests" ng-click="onInterestsPoolClick()">
        Interests Pool
      </div>
      <div class="padding-top search-field-wrapper">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search or Add New" ng-model="data.filter">
        </label>
        <button class="button button-balanced button-small icon-left ion-plus add-interest-button"
                ng-click="addInterest()"
                ng-if="data.filter && notInMyInterests(data.filter)">
        </button>
      </div>
      <ion-scroll class="padding-top interests-pool-wrapper" ng-style="{ maxHeight: calcInterestsPoolMaxHeight() }">
        <button class="button button-stable interest-button icon-left ion-plus"
                ng-repeat="matchingInterest in matchingInterests"
                ng-click="addInterest(matchingInterest.name)">
          {{ matchingInterest.name }} ({{ usersCount(matchingInterest) }})
        </button>
      </ion-scroll>
      <div class="text-center"
           ng-if="data.filter && matchingInterests.length === 0 && !notInMyInterests(data.filter)">
        Already in your interests
      </div>
    </div>
  </ion-content>
</ion-view>