<ion-view class="tab3" title="{{ title }}">
  <ion-content class="padding">
    <div class="list" ng-if="ready && view === 'all'">
      <div class="item item-divider">
        Upcoming
      </div>
      <div class="item" ng-repeat="upcomingMeetup in upcoming">
        {{ upcomingMeetup.to }} {{ upcomingMeetup.from }}
      </div>

      <div class="item item-divider">
        Requests
      </div>
      <div class="item" ng-repeat="requestedMeetup in requests">
        {{ Users.getName(requestedMeetup.from) }}
      </div>

      <div class="item item-divider">
        Sent
      </div>
      <div class="item" ng-repeat="sentMeetup in sent">
        {{ Users.getName(sentMeetup.to) }}
      </div>
    </div>
    <div ng-if="view === 'new'">
      <p class="text-center padding-bottom h4">
        Please select your availability:
      </p>
      <ng-include src="'time-pick/time-pick.html'">
      </ng-include>
    </div>
  </ion-content>
</ion-view>