<ion-view class="tab3" title="{{ title }}">
  <ion-content class="padding">
    <!-- EMPTY STATE -->
    <div ng-if="ready && view === 'all' && !upcoming.length && !requests.length && !sent.length">
      <button class="button button-energized button-block" ui-sref="tab.tab2">
        Go ahead and invite someone for a coffee
      </button>
    </div>

    <!-- ALL -->
    <div class="list" ng-if="ready && view === 'all'">
      <div ng-if="upcoming.length">
        <div class="item item-divider">
          Upcoming
        </div>
        <div class="item" ng-repeat="upcomingMeetup in upcoming">
          {{ upcomingUserName(upcomingMeetup) }}
          <span class="upcoming-time">
            <span class="upcoming-time-time">
              {{ upcomingMeetup.acceptedTime.day }},
              {{ acceptedTimeDate(upcomingMeetup.acceptedTime.date) }},
              {{ upcomingMeetup.acceptedTime.time }}
            </span>
            <br>
            <span class="upcoming-place" ng-if="upcomingMeetup.place">
              <span ng-if="upcomingMeetup.place === 'hub'">Hub (Level 3)</span>
              <span ng-if="upcomingMeetup.place === 'lobby'">Lobby (Ground floor)</span>
            </span>
          </span>
          <p class="message-text" ng-if="upcomingMeetup.message">
            {{ upcomingMeetup.message }}
          </p>
          <div class="matching-interest-container">
            <button class="button button-small matching-interest"
                    ng-repeat="interest in upcomingMeetup.interests">
              {{ interest.name }}
            </button>
          </div>
        </div>
      </div>

      <div ng-if="requests.length">
        <div class="item item-divider">
          Requests
        </div>
        <div class="item"
             ng-repeat="requestedMeetup in requests">
          {{ Users.getName(requestedMeetup.from) }}
          <button class="button button-stable request-meetup-button"
                  ng-click="viewRequestedMeetup(requestedMeetup)">
            View
          </button>
          <p class="message-text" ng-if="requestedMeetup.message">
            {{ requestedMeetup.message }}
          </p>
          <div class="matching-interest-container">
            <button class="button button-small matching-interest"
                    ng-repeat="interest in requestedMeetup.interests">
              {{ interest.name }}
            </button>
          </div>
        </div>
      </div>

      <div ng-if="sent.length">
        <div class="item item-divider">
          Sent
        </div>
        <div class="item" ng-repeat="sentMeetup in sent">
          {{ Users.getName(sentMeetup.to) }}
          <p class="message-text" ng-if="sentMeetup.message">
            {{ sentMeetup.message }}
          </p>

          <div class="matching-interest-container">
            <button class="button button-small matching-interest"
                    ng-repeat="interest in sentMeetup.interests">
              {{ interest.name }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- NEW -->
    <div ng-if="view === 'new'">
      <ng-include src="'time-pick/time-pick.html'">
      </ng-include>
      <div class="text-center">
        <div class="place-wrapper">
          <button class="button button-small"
                  ng-class="{ 'button-stable': data.place !== 'hub', 'button-dark': data.place === 'hub' }"
                  ng-click="setPlace('hub')">
            Hub (Level 3)
          </button>
          <button class="button button-stable button-small"
                  ng-class="{ 'button-stable': data.place !== 'lobby', 'button-dark': data.place === 'lobby' }"
                  ng-click="setPlace('lobby')">
            Lobby (Ground floor)
          </button>
        </div>
        <div class="list list-inset message-wrapper">
          <label class="item item-input">
            <input type="text" placeholder="Message (Optional)" ng-model="data.message">
          </label>
        </div>
        <div class="buttons-wrapper">
          <button class="button button-energized" 
                  ng-disabled="!((data.place === 'hub' || data.place === 'lobby') && availabilityIsSet())"
                  ng-click="invite()">
            Invite
          </button>
          <button class="button button-clear button-dark" ng-click="backToAll()">
            cancel
          </button>
        </div>
      </div>
    </div>

    <!-- VIEW -->
    <div ng-if="ready && view === 'view'">
      <p class="text-center padding-bottom h4">
        Please accept one of the proposed times:
      </p>
      <ng-include src="'time-pick/time-pick.html'">
      </ng-include>
      <div class="text-center" ng-if="meetup.place">
        <strong>Place: </strong>
        <span ng-if="meetup.place == 'hub'">Hub (Level 3)</span>
        <span ng-if="meetup.place == 'lobby'">Lobby (Ground floor)</span>
      </div>
      <div class="text-center">
        <button class="button button-energized invite-button"
                ng-disabled="!timeSlotSelected"
                ng-click="letsMeet()">
          Let's meet!
        </button>
        <button class="button button-clear button-dark padding-top" ng-click="backToAll()">
          cancel
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>