.tab3 {
  .time-picker-row {
    display: flex;
    height: 38px;

    > div {
      width: 16.6666667%;
    }

    .checkbox {
      padding: 5px 0 0 0;
    }
  }
  .time-picker-time {
    text-align: right;
    padding-right: 10px;
    padding-top: 8px;
  }
  .invite-button {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .upcoming-time {
    float: right;
    font-size: 0.8em;
    padding: 5px;
    position: relative;
    right: -10px;
    background-color: #eee;
  }
  .upcoming-place, .upcoming-time-time {
    float: right;
  }
  .message-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .place-wrapper {
    margin-top: 5px;
  }
  .buttons-wrapper {
    margin-top: 5px;
  }
  .today {
    color: $energized;
    font-weight: bold;
  }
  .message-text {
    white-space: normal;
    margin-right: 10px;
  }

  .matching-interest {
    min-height: 16px;
    line-height: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .request-meetup-button {
    float:right;
  }

  .matching-interest-container {
    padding-top: 10px;
    white-space: normal;
  }
}
